[Desktop Entry]
Type=Application
Exec=/opt/video.sh
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=VLC Video
Name=VLC Video
Comment[en_US]=start VLC Video
Comment=start VLC Video
