[Unit]
Description=Run x86_energy_perf_policy at boot

[Service]
Type=oneshot
ExecStart=/usr/bin/x86_energy_perf_policy performance

[Install]
WantedBy=multi-user.target

