[Unit]
Description=Chrome-Browser

[Service]
Type=oneshot
ExecStart=/opt/chrome.sh
ExecStartPost=/bin/echo "Chrome started"

[Install]
WantedBy=multi-user.target
